<%- include('partials/mainHeader') %>
<%# Primary File Author: Michael Chessall %>
<link rel="stylesheet" href="vp.css">
<div class="pageContent">
    <h1>Welcome, <%= FirstName %></h1><br><hr>
    <h2>Upcoming Travel Packages (<%= availablePackages.length %>)</h2>
    <div class="padding1" align="left">
        <% availablePackages.forEach(package => { %>
            <div class="tile">
                <img src="<%= package[0].PkgImg %>" alt="hawaii">
                <p>
                    <%= package[0].PkgName %>
                </p>
                <p style="font-size: 18px;"> <%# This is copied from Gurleen's Vacation Packages page. %>
                    <% const startDate = new Date(package[0].PkgStartDate);
                        const endDate = new Date(package[0].PkgEndDate);
                        const options = { month: 'short', day: '2-digit', year: 'numeric'};
                        const formattedStartDate = startDate.toLocaleDateString('en-US', options);
                        const formattedEndDate = endDate.toLocaleDateString('en-US', options);
                        const sed = `${formattedStartDate} - ${formattedEndDate}`;
                    %>
                    <%= sed %>
                    <br>
                    <br>
                    <%= package[0].PkgDesc %>
                    <br>
                    <br>
                    $<%= package[0].PkgBasePrice %>
                    <br>
                    <%= package[0].PkgDur %>
                </p>
            </div>
            <% }); %>
    </div>
    <br>
</div>
<%- include('partials/mainFooter') %>